<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>404</title>
		<link href="/bootstrap-3.3.5-dist/bootstrap.min.css" rel="stylesheet" />
		<style>
			.content {
				text-align: center;
				padding-top: 50px;
			}
			a{
				color: white;
				text-decoration: none;
			}
			.btn{
				padding: 10px 20px;
				background: rgb(0,75,110);
				border-radius: 5px;
			}
		</style>
	</head>

	<body>
		<div class="content">
			<img src="/images/404.jpg" width="30%" height="30%" /><br /><br />
			<span style="color: rgb(0,75,110); font-size: 30px;">您要找的页面好像不存在呢</span><br /><br />
			<a href="/" class="btn">到主页看看</a>
		</div>

	</body>

</html>
